
.a{
 width: 100px;
 height: 100px;
 font-size: 50px;
 text-align: center;
 color: #FFFFFF;
 background-color: #BF8578;
 opacity: 0.8;
 line-height: 2em;
 font-family: 'Dancing Script', cursive;

 border-radius: 50%;
 border: solid 5px rgba(145, 43, 85, 0.534) ;
 
}

body{
  background: url(https://stickershop.line-scdn.net/stickershop/v1/sticker/7772234/android/sticker.png),url(https://im.marieclaire.com.tw/s450c253h100b0/assets/mc/202102/602CFBCDF34C01613560781.jpeg);
  
  background-size: 100,cover;
  background-position: bottom,left center;
  background-repeat: repeat-x,no-repeat;
  background-attachment: fixed;

}

.b{
 width: 90%;
 line-height: 1.5;
 font-family: 'Times New Roman', Times, serif;
 columns: 2;
 text-align: center;
 word-spacing: 1px;
 letter-spacing: 1px;
 /* border: dotted 2px wheat; */
}